<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579460478236-no9eh5fn7esdj871cq6hmmguu1ksuavg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579460478236-no9eh5fn7esdj871cq6hmmguu1ksuavg</string>
	<key>API_KEY</key>
	<string>AIzaSyCbG3aP5kTqmC_-j6AUomuaGKSAkZaLjfI</string>
	<key>GCM_SENDER_ID</key>
	<string>579460478236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mgl.VGameKeeper</string>
	<key>PROJECT_ID</key>
	<string>vgamekeep</string>
	<key>STORAGE_BUCKET</key>
	<string>vgamekeep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579460478236:ios:b3ee1da3f1dd23125136d9</string>
</dict>
</plist>